<nav class="navbar navbar-expand-lg bg-white fixed-top">
  <div class="container">
    <h1 class="navbar-brand">
      <a href="./index.html">
        <img
          class="d-none d-lg-block"
          src="../assets/images/logo.svg"
          alt="C0DE logo"
        />
        <img
          class="d-block d-lg-none"
          src="../assets/images/logo-sm.svg"
          alt="C0DE logo"
        />
      </a>
    </h1>
    <div class="d-flex">
      <a
        class="d-lg-none btn btn-outline-secondary2 border-0 cartBtn hasProducts"
        href="#"
        type="button"
        ><i class="fa-solid fa-cart-shopping fa-xl"></i
      ></a>
      <input type="checkbox" id="menu-toggle" />
      <label
        for="menu-toggle"
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarScroll"
        aria-controls="navbarScroll"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </label>
    </div>

    <div class="navbar-collapse collapse py-6 py-lg-0" id="navbarScroll">
      <ul
        id="accordionFlush"
        class="navbar-scrollBar navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll m-auto column-gap-10 row-gap-2"
        style="--bs-scroll-height: 205px"
      >
        <li class="nav-item">
          <a
            class="nav-link pc d-none d-lg-block <%= page === 'course' || page === 'course-intro' ? 'menu-active' : '' %>"
            aria-current="page"
            href="./course.html"
            >課程分類</a
          >
          <div
            class="accordion accordion-flush d-block d-lg-none"
            id="accordionFlush"
          >
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button
                  class="accordion-button collapsed nav-link <%= page === 'course' || page === 'course-intro' ? 'menu-active' : '' %>"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#category"
                  aria-expanded="false"
                  aria-controls="category"
                >
                  課程分類
                </button>
              </h2>
              <div
                id="category"
                class="accordion-collapse collapse"
                data-bs-parent="#accordionFlush"
              >
                <ul class="accordion-body text-center">
                  <li><a href="./course.html">前端</a></li>
                  <li><a href="./course.html">後端</a></li>
                  <li><a href="./course.html">資料庫</a></li>
                  <li><a href="./course.html">資安</a></li>
                  <li><a href="./course.html">產品測試</a></li>
                  <li><a href="./course.html">UI / UX</a></li>
                  <li><a href="./course.html">開發維運</a></li>
                  <li><a href="./course.html">行動應用</a></li>
                  <li><a href="./course.html">AI</a></li>
                  <li><a href="./course.html">遊戲開發</a></li>
                  <li><a href="./course.html">程式入門</a></li>
                  <li><a href="./course.html">職涯</a></li>
                </ul>
              </div>
            </div>
          </div>
        </li>
        <li class="nav-item">
          <a
            class="nav-link pc d-none d-lg-block <%= page === 'faq' ? 'menu-active' : '' %>"
            aria-current="page"
            href="./faq.html"
            >常見問題</a
          >
          <div
            class="accordion accordion-flush d-block d-lg-none"
            id="accordionFlush"
          >
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button
                  class="accordion-button collapsed nav-link <%= page === 'faq' ? 'menu-active' : '' %>"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#faq"
                  aria-expanded="false"
                  aria-controls="faq"
                >
                  常見問題
                </button>
              </h2>
              <div
                id="faq"
                class="accordion-collapse collapse"
                data-bs-parent="#accordionFlush"
              >
                <ul class="accordion-body text-center">
                  <li><a href="./faq.html">學生常見問答</a></li>
                  <li><a href="./faq.html">老師常見問答</a></li>
                </ul>
              </div>
            </div>
          </div>
        </li>
        <li class="nav-item">
          <button
            class="nav-link pc d-none d-lg-block"
            aria-current="page"
            data-bs-toggle="offcanvas"
            data-bs-target="#message-list"
            aria-controls="#message-list"
          >
            聯絡老師
          </button>
          <button
            class="nav-link d-block d-lg-none mx-auto"
            aria-current="page"
            data-bs-toggle="offcanvas"
            data-bs-target="#message-list"
            aria-controls="#message-list"
          >
            聯絡老師
          </button>
        </li>
      </ul>

      <div class="d-flex flex-column flex-lg-row row-gap-2 mt-6 mt-lg-0">
        <a
          class="d-none d-lg-block btn btn-outline-secondary2 border-0 cartBtn position-relative"
          href="#"
          type="button"
          ><i class="fa-solid fa-cart-shopping fa-xl"
            ><span class="badge rounded-pill hasProducts">123</span></i
          ></a
        >
        <a
          href="./account.html"
          type="button"
          class="btn btn-member btn-secondary2"
        >
          會員中心
        </a>
        <a href="./index.html" type="button" class="btn btn-logout fw-medium">
          登出
        </a>
        <a
          href="./register.html"
          type="button"
          class="btn btn-register btn-secondary2"
        >
          註冊
        </a>
        <a href="./login.html" type="button" class="btn btn-login fw-medium"
          >登入</a
        >
      </div>
    </div>
  </div>
</nav>

<!-- message -->
<%- include("./layout/message.ejs") -%>
